/* index 본문 container영역 */
/* #container */
#container{height:auto; margin-bottom: 20px;}
	.product{width: 100%; height:458px; margin-bottom:10px;}
		.main_product{width: 664px; height: 100%; float: left; overflow: hidden;}
		.news_event{width:326px; height:194px; float:right;margin-bottom: 10px;}
		.news_event>a{width: 100%; height: 100%; display: block; 
			background-image:url("../../img/main_container/con_01_02.png");
			/* img코드는 src로 불러오지만, background-image는 url로 불러온다 */
			background-repeat:no-repeat; background-position:center; }

		.best_product{width:326px; height:254px; float:right;}
		.best_product>a{width: 100%; height: 100%; display: block;
			background-image: url("../../img/main_container/con_01_03.png");
			background-repeat:no-repeat; background-position:center;}
	.promotion{width: 100%; height:280px;}
	.poromotion_package{width: 328px; height: auto; float: left;}
		.reservation{width: 100%; height: 146px; margin-bottom: 10px;}
		.reservation>a{background-image:url("../../img/main_container/con_02_01.png");}
		.e_shop{width:100%; height: 124px;}
		.e_shop>a{background-image:url("../img/main_container/con_02_02.png");}
	.store_location{width: 664px; height: 280px; float:right;}
	.store_location>a{background-image:url("../../img/main_container/con_02_03.png");}
