/*color_set*/
.base_01{background-color: #adadad;}
.base_02{background-color: #888;}
.base_03{background-color: #777;}
.base_white{background-color: #fff;}
.base_point_01{background-color: #fff30d;}
.base_point_01_deep{background-color: #aa7733;}
.clolr_transparent{background-color:transparent;}