/* myreset.css */
html, body{margin: 0; padding: 0;
	color:#333;
	 font-family: sans-serif;
	 line-height: 1.15;
	 font-size:100%;
	 -ms-text-size-adjust: 100%;
	 -webkit-text-size-adjust: 100%;}

h1,h2,h3,h4,h5,h6,p,div,table,tr,td,th{margin: 0;}
ul,ol,li{list-style: none;}
a{text-decoration: none; color:#555;}
a:hover{font-weight:bold; color:#07f;}

/* html5 */
header, article, aside, nav, footer,section, main{display: block;}