/* form_test_01.css */

.container{width: 15.625rem; height: 7.5rem;/* 120px*/ margin: 5rem auto;
	background-color: #ccc; }
form{width: 100%; height: 6.25rem; background-color: #777; 
	padding:1.5rem 0.9375rem 0.5rem; box-sizing:border-box; behavior: url(../pie/PIE.htc);}
fieldset{width: 100%; height: 100%;}
legend{width: 0; height: 0; overflow: hidden;}
.log_in_input{width: 100%; height:3.125rem; margin-bottom:0.375rem; behavior: url(../pie/PIE.htc);}
#idName{width:9.625rem; height: 1.375rem; float: left; border:0; margin-bottom:0.375rem;}
#pwdName{width:9.625rem; height: 1.375rem; float: left; border:0;}

#idName:focus, #pwdName:focus{background-color: #fd9;}

#logIn{width: 3.5rem; height: 3.125rem; background-color: #f06; color:#fff; float: right;
	font-weight: bold; text-transform:uppercase; word-spacing:-0.2rem; font-family:'myriad pro';
	margin-top: -1.75rem;}

.my_id{width: 100%; height: 1.125rem; }
#rememberId{width: 0.8rem; height: 0.8rem; margin-top:0.1625rem; float: left;}
label[for="rememberId"]{float: left;}
label[for="rememberId"], .find_me>a {color:#fff; font-size: 0.83333rem; 
	letter-spacing:-0.0625rem; word-spacing:-0.2rem; line-height:1.125rem;}
.find_me{float: right;}
.find_me>a:first-of-type{margin-right: 0.7rem; position: relative;}
.find_me>a:first-of-type::after{content:"";
		border-right:1px solid #f06; height: 70%; top: 15%;
		right:-0.5rem; position: absolute;}
.close{float: right; margin-right:0.9375rem; background-color:transparent;
	font-size: 0.8em;}
.close>i{float: left; margin-left: -1rem; margin-top: 0.2rem;
	border:5px solid #282828; 
	border-top-color:transparent; 
	border-left-color:transparent; 
	border-right-color:transparent;}


