.container{width: 960px; height: 100%;}
h1{width: 100%; height: 2rem; padding-bottom: 8px;
	line-height: 32px; font-size: 20.8px;
	margin-bottom: 32px;}

#certification{width: 460px; 
	height: 365px;}
#certification > h2{
	height: 72px; font-size:22px; 
	padding:28px 38px 24px;	
	box-sizing:border-box;
	background-color:#f06}

.certifi_content{height:292px; 
	padding:18px 38px;}
.certifi_content>h3{font-size:18px;
	margin-bottom: 8px; padding-left: 8px;}
.certifi_content>p{font-size:14px;padding-left: 8px; margin-bottom:12px;}	

/* 하단 버튼부 */
.send{width:194px; height:40px; margin-left: 92px;}
.send>input{width:70px; height: 40px; font-size:18px;}
