/* multi_web.css */
html, body{height:100%; background-color: #ccc;}
.container{width: 100%; height: 100%;}
h1{width: 70%; height: 2rem; border-bottom: 2px solid #fff; text-align: center; line-height: 2rem;
	font-size: 1.5em; font-weight: bold; color:#fff; transition:all 0.5s; 
	position: fixed; top: 0; left:15%; z-index:100;}
h1:hover{text-shadow:0.2rem 0.2rem 0.2rem #333;}

.box{width:90%; height: 100%; margin: 0 auto; border-bottom:1px solid #77f;}
.box_01{}
.box_01>video{width: 100%; height:auto;}
.box_02{background-image:url("../img/url.jpg"); background-repeat: no-repeat; background-position:center;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-ms-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-attachment:fixed;
}

.box_03{background-color:#f8c;}
.box_04{background-color:#6fc;}