/*base.css*/

/*design*/
.container{width: 980px; height: 850px; margin: 0 auto; padding: 0;}
/* #unb ------------------------------------- */
#unb{width:100%; height: 30px; position: relative;}
#unb:before, #unb:after{content:""; display: block; 
	height: 100%; width: 50vw; position: absolute; z-index:-100;}
#unb:before{background-color:inherit; left:50%; margin-left:-50vw;}
#unb:after{background-color:#fff30d; right: 50%; margin-right:-50vw;}

#unb>ul{width: 435px; height: 100%; float: right;}
#unb>ul>li{width: 95px; height: 100%; float: left;}

#unb li:last-child{width: 245px;}
#unb li:hover{background-color: #fff; }

#unb>ul>li>a{width: 100%; height: 100%; display: block;
	color:#fff; text-align: center; line-height:30px; text-transform:uppercase;}
#unb li:last-child>a{color:#757575; text-align:left; text-indent:1.3rem;
	background-image: url(../img/index/main_unb/arrow.png); background-repeat: no-repeat;
	background-position: 90% center;}	
#unb>ul>li>a:hover{color:#757575;}

	/* todo: li:last text-indent처리, 화살표 이미지 생성 */

/* .con_box ------------------------------------- */
.con_box{width:100%; min-height:710px; height:auto; position: relative;}


	#headBox{width: 250px; height: 100%; box-sizing: border-box; position: relative;
		padding-top:55px; padding-left:47px; padding-bottom:55px; padding-right:50px; float: left;}
	#headBox:before{content:""; display: block; width: 50vw; height: 100%;
	position: absolute; top: 0; z-index:-100;
	background-color:inherit; left: 50%; margin-left:calc(-50vw + 125px);}
	
	#headBox>h1{width: 100%; height:103px; margin-bottom: 42px;}
	#headBox>h1>a{	background-image: url("../img/all/header/logo.png"); background-position: center center;} 
	#headBox>nav{width: 100%; height:455px;}
	#headBox>nav>ul{width: 100%; height: 100%; 
		padding-left:1rem; box-sizing: border-box;}
	#headBox>nav>ul>li{width: 100%; height: 36px; margin-bottom: 26px;}

	#headBox>nav>ul>li>a{background-image: url("../img/all/header/nav_gnb.png"); transition:all 0.5s;}
	#headBox>nav>ul>li:hover>a{background-image: url("../img/all/header/nav_gnb_on.png");}
	#headBox>nav>ul>li:nth-child(1)>a{background-position:left top;}
	#headBox>nav>ul>li:nth-child(2)>a{background-position:left -62px;}
	#headBox>nav>ul>li:nth-child(3)>a{background-position:left -124px;}
	#headBox>nav>ul>li:nth-child(4)>a{background-position:left -186px;}
	#headBox>nav>ul>li:nth-child(5)>a{background-position:left -248px;}
	#headBox>nav>ul>li:nth-child(6)>a{background-position:left bottom;}

	#headBox>nav>ul>li:last-child{height:112px; margin-top:60px; margin-bottom:0;}

	


/* #footbox--------------------------------- */
#footBox{width:100%; height:110px; position: relative;
	padding-top: 20px; box-sizing:border-box;}
#footBox > h2{width:64px; height:42px; margin-left: 42px; margin-right:25px; float: left; background-image:url("../img/all/footer/h2_logo.png");
	background-repeat: no-repeat; background-position:center center;}
.sns{width:100px; height:46px; margin-right:18px; float: left;}
.sns>li{width:calc(100% / 3); height: 100%; padding:5px; box-sizing:border-box;
	float: left;}
.sns>li>a{width:100%; height: 100%; display: block; 
	text-align: center; line-height:2.25rem;}
.sns .glyphicon{color:#777; font-size:1.3rem;}
.sns .glyphicon:hover{color:#888;}

.company_address{width:340px; height:46px; float: left;}
	.company_address>p{width: 100%; height: 50%;
		background-repeat: no-repeat; background-position: 0 center;}
	.com_add{background-image: url("../img/all/footer/com_address.png");}
	.copyright{background-image: url("../img/all/footer/copyright.png");}


.family_site{width:300px; height:130px; 
	margin-top: -85px; margin-right: 40px; float: right;}
.family_site>dt, .family_site>dd{height:50%; float:left; text-indent:0.5rem;
 line-height:4.0625rem; font-size:1.1rem; font-weight:bold; 
 letter-spacing:-0.0325rem; }

.family_site>dt{width:100px; color:#fff; text-transform:uppercase;}
.family_site>dd{width:200px;}
.family_site>dd>a:hover{color:#fff; text-shadow:1px 1px 1px #777;}