/* gcass_index.css */
/*color_set*/
.base_01{background-color: #adadad;}
.base_02{background-color: #888;}
.base_03{background-color: #777;}
.base_white{background-color: #fff;}
.base_point_01{background-color: #fff30d;}

/*design*/
.container{width: 980px; height: 850px; margin: 0 auto;}
/* #unb ------------------------------------- */
#unb{width:100%; height: 30px;}
#unb>ul{width: 435px; height: 100%; float: right;}
#unb>ul>li{width: 95px; height: 100%; float: left;}

#unb li:last-child{width: 245px;}
#unb li:hover{background-color: #fff; }

#unb>ul>li>a{width: 100%; height: 100%; display: block;
	color:#fff; text-align: center; line-height:30px;}
#unb li:last-child>a{color:#757575; text-align:left; text-indent:1.3rem;
	background-image: url(../img/index/main_unb/arrow.png); background-repeat: no-repeat;
	background-position: 90% center;}	
#unb>ul>li>a:hover{color:#757575;}

	/* todo: li:last text-indent처리, 화살표 이미지 생성 */

/* .con_box ------------------------------------- */
.con_box{width:100%; height: 710px;}
	#headBox{width: 250px; height: 100%; box-sizing: border-box;
		padding-top:55px; padding-left:47px; padding-right:50px;
		float: left;}
	#headBox>h1{width: 100%; height:103px; margin-bottom: 42px;}
	 #headBox>h1>a{	background-image: url("../img/all/header/logo.png"); background-position: center center;} 
	#headBox>nav{width: 100%; height:455px;}
	#headBox>nav>ul{width: 100%; height: 100%; 
		padding-left:1rem; box-sizing: border-box;}
	#headBox>nav>ul>li{width: 100%; height: 36px; margin-bottom: 26px;}

	#headBox>nav>ul>li>a{background-image: url("../img/all/header/nav_gnb.png");}
	#headBox>nav>ul>li:nth-child(1)>a{background-position:left -62px;}
	#headBox>nav>ul>li:nth-child(2)>a{background-position:left -124px;}
	#headBox>nav>ul>li:nth-child(3)>a{background-position:left -186px;}
	#headBox>nav>ul>li:nth-child(4)>a{background-position:left -248px;}
	#headBox>nav>ul>li:nth-child(5)>a{background-position:left -300px;}
	#headBox>nav>ul>li:nth-child(6)>a{background-position:left bottom;}
	#headBox>nav>ul>li:hover>a{background-image: url("../img/all/header/nav_gnb_on.png");}

	#headBox>nav>ul>li:last-child{height: 112px; 
		margin-top: 60px; margin-bottom: 0;}
	/* #headBox>nav>ul>li>a{} */

	#content{width: 730px; height: 100%; float:right;
		background-image: url(../img/index/main_content/greenbg.png);
		background-repeat:no-repeat;	background-position:340px 50px;}
	.computer{width: 330px; height: 520px; margin-top: 125px; margin-left: 80px;
		transition:transform 1s ease;} 
	.computer:hover{transform:translate(200px);}
	.computer>a{background-image: url("../img/index/main_content/computer.png");}
	.computer>a:hover{background-image: url("../img/index/main_content/computer_on.png");}

#footBox{width:100%; height:110px; 
	padding-top: 20px; box-sizing:border-box;}
#footBox > h2{width:64px; height:42px; margin-right:25px; float: left;
background-color:#fac;}
.sns{width:100px; height:46px; margin-right:18px; float: left;
background-color:#fac;}
.company_address{width:340px; height:46px; float: left;
background-color:#fac;}
.family_site{width:304px; height:130px; 
	margin-top: -85px; margin-right: 40px; float: right; 
background-color:#fac;}