@import url("./base/color_setting.css");
@import url("./base.css");
/* gcass_index.css */

body{background-image: url("../img/sub_01/bg01_patt.jpg");}

	#content{width: 730px; height:auto; padding-top: 86px; float: right;}
	/*#headBox{background-color:transparent;}*/
	/*#headBox:before{background-color:transparent;}*/
	#content > hgroup{width: 100%; height: 40px; float: right; margin-right:60px;}
	#content > hgroup>h2{width:auto; height:auto; overflow:visible; float: right; 
		color:#fff; font-weight: bold; font-size:2.5rem;}
	#content > hgroup>h3{width:auto; height:auto; overflow:visible; float: right; margin-right:1rem; color:#fff; font-size: 1.5rem; margin-top:1.3rem;}

	.curri_01{width:660px; height:auto; margin-top:50px; margin-bottom:50px; float:right;}
	.curri_01>dl{width:200px; height:auto; float: left; 
		margin-right:30px;}
	.curri_01>dl:nth-child(2){margin-top: 1.2rem;}
	.curri_01>dl:last-child{margin-right: 0;}
	.curri_01>dl>dt{width: 100%; height: 380px;
		border-radius:1.25rem; transition:transform 0.5s ease-in;
		background-image: url("../img/sub_01/mouse.jpg"); background-repeat:no-repeat;
		box-shadow:0.3rem 0.3rem 0.3rem #282828;}
	.curri_01>dl:hover > dt{transform:translateY(1.5rem);}
	.curri_01>dl:nth-child(1)>dt{background-position:left top;}
	.curri_01>dl:nth-child(2)>dt{background-position:center -1.2rem;}
	.curri_01>dl:nth-child(3)>dt{background-position:right top;}

	.curri_01>dl>dt>span{transform:rotate(-90deg) translate(-15rem, 4rem); display: block;	 font-size:2rem; font-weight: bold; color:#fa0;}

	.curri_01>dl>dd{width: 100%; height: auto; min-height:6.25rem; margin-top: 1rem;
		border:2px solid #fff; border-top: 0; border-bottom: 0; box-sizing:border-box;
		padding:1rem;}
	.curri_01>dl:nth-child(2) dd{min-height:4.25rem;}
	.curri_01>dl>dd>ul{width: 100%; height: auto;}
	.curri_01>dl>dd li{width: 100%; height: auto;
		padding-top: 0.5rem; padding-bottom: 0.5rem;}
	.curri_01>dl>dd a{ color:#fff; font-weight: bold; font-size: 1.2em;}	




	.curri_02{width: 670px; height: 315px; background-color: #acc;  float: right; margin-bottom: 7rem; }
