/* gcass_index.css */
/*color_set*/
.base_01{background-color: #adadad;}
.base_02{background-color: #888;}
.base_03{background-color: #777;}
.base_white{background-color: #fff;}


/*design*/
.container{width: 980px; height: 850px; margin: 0 auto;}
#gnb{width:100%; height: 30px;}
.con_box{width:100%; height: 710px;}
	#headBox{width: 250px; height: 100%;}
	#content{width: 730px; height: 100%;}
#footBox{width:100%; height:110px;}