/* headBox.css */

#headBox a:focus{outline: 0; border-bottom:2px solid #fa0;}
#headBox{height:40px; background-color: #707070; padding-top:12px; padding-bottom:10px;}
#headBox>h1{width: 94px; height: 18px; float: left; background-color: #fff;}
#headBox>h1>a{width: 100%; height: 100%; display: block;}
#headBox>h1 img{width:100%; height:auto; border:0;}
#gnb{width: 411px; height: 15px; float: right;}
#gnb>ul{width: 100%; height: 100%;}
#gnb>ul>li{height: 100%; margin-right:22px; float: left;}

#gnb>ul>li.gnb_01{width:60px;}
#gnb>ul>li.gnb_02{width:36px;}
#gnb>ul>li.gnb_03{width:76px;}
#gnb>ul>li.gnb_04{width:78px;}
#gnb>ul>li.gnb_05{width:24px;}
#gnb>ul>li.gnb_06{width:27px; margin-right: 0;}

#gnb>ul a{width: 100%; height: 100%; display: block;}
#gnb>ul>li img{width:100%; height:auto;}
